/*


   @app    planner 
   @author Adrian Callaghan 
   @date   01092013


*/


/*
Table generic formatting
*/
div.table-header {
    padding:10px 0;
    font-weight:bolder;
}
div.table-row {
    padding:10px;
    border-top: 1px solid #cccccc;
}

/*
Table, date specific  
*/
div.table-row div.date-options {background:#FCF8E3;}
div.table-row div.date-title {background:#FCF8E3;}
div.table-row div.date-balance {background:#FCF8E3;}
div.table-row ul.date-transactions {background:#FCF8E3;}

/*
Today
*/
div.table-row.current div.date-options{background:#DFF0D8;}
div.table-row.current div.date-title{background:#DFF0D8;}
div.table-row.current div.date-balance{background:#DFF0D8;}
div.table-row.current ul.date-transactions{background:#DFF0D8;}
/*
Transaction specific 
*/
div.table-row ul.date-transactions li {margin: 0 3px 3px 3px; min-height: 20px; }
div.table-row ul.date-transactions li div.transaction-amount{}
div.table-row ul.date-transactions li div.transaction-account{}
div.table-row ul.date-transactions li div.transaction-type{}
div.table-row ul.date-transactions li div.transaction-tags{}
div.table-row ul.date-transactions li div.transaction-note{font-style:italic; font-size:10px;}






/* JQUERY UI PLACEHOLDER */
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important;}
.ui-sortable-placeholder * { visibility: hidden; }



/*
Helper classes START ///
*/
.negative {color:#990000;}
.positive {color:#009900;}
.neutral {}
/*
Helper classes END ///
*/