/*


   @app    planner 
   @author Adrian Callaghan 
   @date   01092013


*/
body{
    padding-top: 60px;
    padding-bottom: 40px;
}

div.div-table-header {
    font-weight:bold;
}

/* general */
/*div.date {background:#FCF8E3;}*/
/* Today */
div.date.current {background:#DFF0D8;}

/*
Transaction specific 
*/
div.date-transactions ul {min-height: 20px;}
div.date-transactions ul li {margin: 0 3px 3px 3px; min-height: 30px;}
div.date-transactions ul li div.transaction-amount{}
div.date-transactions ul li div.transaction-account{}
div.date-transactions ul li div.transaction-type{}
div.date-transactions ul li div.transaction-tags{}
div.date-transactions ul li div.transaction-note{font-style:italic; font-size:10px; background:white;}






/* JQUERY UI PLACEHOLDER */
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important;}
.ui-sortable-placeholder * { visibility: hidden; }



