<?xml version="1.0" encoding="UTF-8"?>
<config>
        
    <nav>

        <home>
            <label>Home</label>
            <order>-100</order>
            <module>default</module>
            <controller>index</controller>
            <action>index</action>
        </home>
        <accounts>
            <label>Accounts</label>
            <order>-100</order>
            <module>default</module>
            <controller>accounts</controller>
            <action>index</action>
        </accounts>

        <graphs>
            <label>Graphs</label>
            <id>graphs_home</id>
            <uri>Graphs</uri>
            <module>default</module>
            <controller>graphs</controller>
            <action>index</action>
            <visible>1</visible>
            <order>10</order>
            <pages>
                <summary>
                    <label>Summary</label>
                    <id>summary_home</id>
                    <module>default</module>
                    <controller>summary</controller>
                    <action>index</action>
                    <visible>0</visible>
                </summary>                              
            </pages>
        </graphs>
    

    </nav>
        
</config>